<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Name of stop</title>
</head>
<body>
<li th:fragment="route-stop-item(stop)"
    class="flex items-center justify-between border-b border-slate-100 pb-1">
                    <span class="font-medium text-slate-800">
                        <span class="text-[#ff6800] font-bold mr-1">1.</span>
                        Central Station
                    </span>
    <span class="rounded bg-slate-100 px-1.5 py-0.5 font-mono text-slate-500">0m</span>
</li>
</body>
</html>